ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(126, 119, 119);
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: rgb(0, 0, 255);
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.search input[type=text] {
    position: absolute;
    top:17px;
    left:800px;
    font-size: bold;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: rgb(195, 218, 221);
  }
  @media screen and (max-width: 600px) {
    .search a, .search input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .search input[type=text] {
      border: 1px solid #ccc;
    }
  }
  #sign{
      width:30px;
      height:30px;
      object-fit:cover;
      position:absolute;
      left:1100px;
      top:20px;
  }
  #sign_up{
    width:30px;
    height:30px;
    object-fit:cover;
    position:absolute;
    left:1150px;
    top:20px;
   }
  #sela{
    width:100px;
    height:100px;
    position:absolute;
    left:500px;
    top:180px;
    object-fit:cover;
    border-radius: 100px;
   }
   #abe{
    width:100px;
    height:100px;
    position:absolute;
    left:620px;
    top:180px;
    object-fit:cover;
    border-radius: 50px;
   }

   #how{
    
    position:absolute;
    left:500px;
    top:100px;
    

   }
   #mail1{
    position:absolute;
    left:520px;
    top:280px;

   }
   #mail2{
    position:absolute;
    left:650px;
    top:280px;

   }
   body{
       overflow: scroll;
   }